/* CSS Document */
@charset "utf-8";

/*==========================================
/*main
/*h
/*addToCart
/*option_Choices
/*productImage
/*description
/*productTable
/*icon
/*category
==========================================*/
h2, h3, h4 {
    color: #000080;
    padding: 0;
}

table, div {
    word-break: normal;
    word-wrap: normal;
}

/*-------------------------------------------------*/
/*main*/
/*-------------------------------------------------*/
#part_content {
    margin: 8px 0px 10px 0px;
    padding: 0;
}

#part_content #pd_options {
    width: 100%;
    margin: 0;
}

/*-------------------------------------------------*/
/*h*/
/*-------------------------------------------------*/
#part_content h2 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 1.5em;
    color: #000000;
}

/*-------------------------------------------------*/
/*addToCart*/
/*-------------------------------------------------*/
#part_content .addCartBox {
    padding: 0;
    width: 100%;
    border: 1px #CCCCCC solid;
    overflow: hidden;
    border-radius: 8px; /* CSS3*/
    -webkit-border-radius: 8px; /* Safari,Google Chrome*/
    -moz-border-radius: 8px; /* Firefox*/
    background: -webkit-gradient(linear, left top, left bottom, from(#F7F7F7), to(#FFFFFF)); /* Safari,Google Chrome用 */
    background-color: #F7F7F7;
    background: -moz-linear-gradient(top, #F7F7F7, #FFFFFF); /* Firefox 用 */
    _background-color: #F7F7F7;
    -moz-box-shadow: 1px 1px 3px #EEE; /* Firefox 用 */
    -webkit-box-shadow: 1px 1px 3px #EEE; /* Safari,Google Chrome用 */
}

#part_content .option_title {
    color: #000080;
    font-size: 1.3em;
    font-weight: bold;
    padding: 8px 0 0 2px;
}

#part_content div.brandName {
    font-size: 12px;
    padding: 0 0 4px 0px;
}

#part_content .addCartContent {
    margin: 0;
    padding: 7px 4px 6px 10px;
    text-align: center;
}

#part_content dl.addCart {
    margin: 0;
    padding: 0;
    font-size: 0.8em;
}

#part_content .addCart dt {
    font-size: 0.8em;
    font-weight: bold;
    line-height: 12px;
    margin: 0;
    padding: 0;
    text-align: left;
}

#part_content .addCart dd {
    font-size: 1.2em;
    font-weight: bold;
    line-height: 120%;
    margin: 0;
    padding: 0 8px 4px;
    text-align: right;
}

#part_content .addCart dd.price {
    color: #D53636;
    font-size: 1.3em;
    font-weight: bold;
    text-shadow: 1px 1px 2px #EEE;
}

#part_content .addCart dd img {
    vertical-align: middle;
}

#part_content .cartForm {
    float: right;
    width: 160px;
    display: none;
}

#part_content .table_line {
    border-color: gray;
    border-style: dotted;
    border-width: 0 0 0 0px;
    padding: 0 0 0 5px;
}

/*shareBox*/
#part_content .shareBox {
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    font-weight: bold;
    float: left;
}

#part_content .shareBox img {
    border: none;
    vertical-align: middle;
}

#part_content .shareBox a, #part_content .shareBox a:link {
    margin: 0 4px 0 0;
    padding: 0px;
    display: block;
    float: left;
}

#part_content .shareBox a:hover, #part_content .shareBox a:active {
    margin: 0 4px 0 0;
    padding: 0 pxcolor: red;
    text-decoration: underline;
    display: block;
    float: left;
}

/*-------------------------------------------------*/
/*option_Choices*/
/*-------------------------------------------------*/
#part_content .optionBox {
    margin: 0;
    padding: 0;
    text-align: left;
}

#part_content .option dl {
    margin: 0;
    padding: 0;
    display: block;
}

#part_content .option dt {
    margin: 0 15px 0 0;
    padding: 0;
    font-weight: bold;
    font-size: 0.9em;
    display: inline;
}

#part_content .option dd.result {
    margin: 0;
    padding: 0;
    color: #D64203;
    font-weight: bold;
    display: inline;
    font-size: 0.9em;
}

#part_content .option dd.typeBox {
    margin: 0;
    padding: 0;
    display: block;
}

#part_content .option dd.typeBox div {
    margin: 3px 0 0 0;
    padding: 0;
    font-size: 1em;
}

#part_content .option select {
    padding: 1px;
    font-size: 0.9em;
    max-width: 180px;
}

#part_content .option dd.typeBox a {
    margin: 3px 3px 0 0;
    padding: 1px 5px;
    list-style: none;
    display: block;
    float: left;
    white-space: nowrap;
    cursor: pointer;
    background-color: #FFF;
    border: #B3B3B3 1px solid;
    color: #000000;
    font-size: 0.8em;
    text-decoration: none;
}

#part_content .option dd.typeBox a.selected {
    background-color: #000000;
    border: #000000 1px solid;
    color: #FFFFFF;
    cursor: pointer;
}

#part_content .option dd.typeBox a.deactive {
    background-color: #F5F5F5;
    border: #F5F5F5 1px solid;
    color: #C6C6C6;
    cursor: pointer;
}

#part_content .option option.deactive {
    background-color: #f5f5f5;
    color: #C6C6C6;
    cursor: pointer;
}

#part_content .option option.selected {
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
}

#part_content .option dd.typeBox a.listBox {
    margin: 0 3px 0 0;
    padding: 0;
    list-style: none;
    background-color: none;
    border: none;
    display: block;
}

/*print*/
#part_content .print {
    text-align: right;
    margin: 0px;
    padding: 0px 40px;
    font-size: 0.8em;
}

#part_content .print img {
    border: none;
    vertical-align: middle;
    margin-left: 10px;
}

#part_content input.cantClick {
    filter: alpha(opacity=30);
    -moz-opacity: 0.30;
    opacity: 0.30;
    cursor: default;
    width: 100px;
}

#part_content input.canClick {
    filter: alpha(opacity=100);
    -moz-opacity: 1.00;
    opacity: 1.00;
    cursor: pointer;
    width: 100px;
}

/*-------------------------------------------------*/
/*productImage*/
/*-------------------------------------------------*/
#part_content .productImageBox_td,
#part_content .productImageBox {
    margin: 0;
    padding: 0;
    width: 380px;
}

#part_content .productImageBox p.moreImage {
    margin: 10px 0 0;
    padding: 5px 0;
    font-size: 12px;
    text-align: center;
}

/*
#part_content .productImageBox p.moreImage  span{
margin:0;
padding:5px 25px 5px 0;
background:URL(images/icon/larger.gif) no-repeat left;
}
*/

/*imagelarge*/
#part_content .productImageBox ul.imageLarge {
    margin: 0;
    padding: 0;
    display: block;
    border: none;
    list-style: none;
}

#part_content .productImageBox .imageLarge li {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    border: none;
    list-style: none;
    display: block;
    overflow: hidden;
    background: URL(images/product_loader.gif) no-repeat center;
    width: 370px;
    height: 370px;
    line-height: 370px;
    text-align: center;
}

#part_content .productImageBox .imageLarge img {
    border: none;
    vertical-align: middle;
    text-align: center;
    max-width: 350px;
    max-height: 350px;
}

* html body .productImageBox .imageLarge img {
    width: expression(this.width >= this.height ? "350px" : "auto");
    height: expression(this.width <= this.height ? "350px" : "auto");
}

/*imageThumb
#part_content .productImageBox ul.imageThumb{
    width:350px;
margin: 0 auto;
padding: 0;
text-align: center;
}
*/

/* simple clearfix */
#part_content .productImageBox ul.imageThumb {
    overflow: hidden;
}

* html #part_content .productImageBox ul.imageThumb {
    height: 1%;
}

#part_content .productImageBox .imageThumb li {
    margin: 3px 10px 0 0;
    _margin: 3px 8px 0 0;
    padding: 0;
    list-style: none;
    display: inline;
    width: 60px;
    height: 60px;
    text-align: center;
}

#part_content .productImageBox .imageThumb a {
    display: inline-block;
    border: 1px solid rgb(140, 148, 148);
}

#part_content .productImageBox .imageThumb img {
    border: none;
    vertical-align: middle;
    max-width: 57px;
    max-height: 57px;
}

* html body .productImageBox .imageThumb img {
    width: expression(this.width >= this.height ? "57px" : "auto");
    height: expression(this.width <= this.height ? "57px" : "auto");
}

/*-------------------------------------------------*/
/*description*/
/*-------------------------------------------------*/
#part_content .productContent {
    margin: 0;
    padding: 0 0 0 0;
    width: 100%;
}

#part_content .description {
    font-size: 12px;
}

#part_content .productContent .description {
    font-size: 12px;
}

#part_content #itemOptionDescription {
    font-size: 12px;
}

#part_content .productContent p {
    margin: 0;
    padding: 0 1em;
    line-height: 130%;
}

#part_content .productContent .addCart {
    position: relative;
    display: block;
    text-align: right;
    margin: 0;
    padding: 5px 1px;
}

/*-------------------------------------------------*/
/*productTable*/
/*-------------------------------------------------*/
#part_content .productNarrowByLink {
    font-size: 0.9em;
    text-align: right;
    margin: 6px 0;
    padding: 2px 4px;
    background-color: #000066;
    color: #FFFFFF;
}

#part_content .productNarrowByLink span {
    float: left;
    display: block;
    font-weight: bold;
}

#part_content .productNarrowByLink a {
    color: #FFFFFF;
}

#part_content .productOptionLink {
    font-size: 0.9em;
    text-align: right;
}

#part_content .pageMoveUp {
    font-size: 12px;
}

#part_content table.productIndex {
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border: #CCCCCC 1px solid;
    border-spacing: 0;
}

#part_content table.productIndex th {
    background-color: #777777;
    font-size: 12px;
    color: #FFFFFF;
    margin: 0;
    padding: 5px 18px 5px 5px;
    border: #CCCCCC 1px solid;
    border-collapse: collapse;
    text-align: center;
    white-space: nowrap !important;
    word-break: keep-all !important;
    word-wrap: normal !important;
}

#part_content table.productIndex td {
    margin: 0px;
    padding: 4px 5px;
    border: #CCCCCC 1px solid;
    border-collapse: collapse;
    text-align: center;
    font-size: 12px;
}

#part_content table.productIndex td.mfr_no,
#part_content table.productIndex td.item_no {
    text-align: center;
    white-space: nowrap;
    word-break: keep-all;
    word-wrap: normal;
}

#part_content table.productIndex td.mfr_no {
    background-color: #f1f1f1;
}

#part_content table.productIndex td.quantity {
    text-align: left;
    padding: 4px 28px 4px 5px;
    width: 50px !important;
}

#part_content table.productIndex row_class {
    padding: 4px 5px;
    display: block;
}

#part_content table.productIndex .restriction {
    width: 64px;
    font-size: 12px;
    font-weight: bold;
}

#part_content table.productIndex .list_price {
    color: #404040 !important;
    text-align: center;
    white-space: nowrap;
    word-break: keep-all;
    word-wrap: normal;
}

#part_content table.productIndex .price {
    color: #fe5600;
    font-weight: bold;
    font-size: 14px;
    text-align: right;
    padding-right: 10px;
    white-space: nowrap;
    word-break: keep-all;
    word-wrap: normal;
}

#part_content table.productIndex .list_price {
    color: #404040 !important;
    text-align: right;
    padding-right: 10px;
    white-space: nowrap;
    word-break: keep-all;
    word-wrap: normal;
}

#part_content table.productIndex .package_content {
    text-align: center;
    white-space: nowrap;
    word-break: keep-all;
    word-wrap: normal;
}

#part_content table.productIndex .special_price_icon {
    vertical-align: text-bottom;
    margin-left: 8px;
}

#part_content table.productIndex .price_na {
    color: #D53636;
    font-weight: bold;
    font-size: 0.9em;
    text-align: center;
    white-space: nowrap;
    word-break: keep-all;
    word-wrap: normal;
}

#part_content table.productIndex .ships {
    width: 38px;
    white-space: nowrap;
    word-break: keep-all;
    word-wrap: normal;
}

#part_content table.productIndex .qtybox {
    width: 52px;
}

#part_content table.productIndex .remove_icon {
    width: 18px;
    height: 18px;
    background-image: url(images/rmicon.gif);
    background-repeat: no-repeat;
    margin: 1px 0 0 3px;
    text-decoration: none;
    position: absolute;
}

#part_content input.qtybox {
    text-align: right;
    font-size: 1.1em;
    white-space: nowrap;
    word-break: keep-all;
    word-wrap: normal;
}

#part_content input.select_cansel {
    text-align: center;
    font-size: 0.9em;
    font-weight: normal;
    width: 32px;
}

#part_content .restrictions {
    font-size: 0.8em;
    font-weight: bold;
    padding: 6px;
}

#part_content .restriction img {
    max-width: 36px;
    max-height: 36px;
}

#part_content table.productIndex th.sorting {
    font-size: 12px;
    font-weight: normal;
    background-color: #777777;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center right;
    background-image: url(images/bg.gif);
}

#part_content table.productIndex th.sorting_asc {
    font-size: 12px;
    font-weight: normal;
    background-color: #303030;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center right;
    background-image: url(images/asc.gif);
}

#part_content table.productIndex th.sorting_desc {
    font-size: 12px;
    font-weight: normal;
    background-color: #303030;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center right;
    background-image: url(images/desc.gif);
}

/*-------------------------------------------------*/
/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
    height: 19px;
    width: 19px;
    margin-left: 3px;
    float: left;
}

.paginate_disabled_previous {
    background-image: url(images/back_disabled.jpg);
    margin: 2px;
}

.paginate_enabled_previous {
    background-image: url(images/back_enabled.jpg);
    margin: 2px;
}

.paginate_disabled_next {
    background-image: url(images/forward_disabled.jpg);
    margin: 2px;
}

.paginate_enabled_next {
    background-image: url(images/forward_enabled.jpg);
    margin: 2px;
}

.pd_table_title {
    color: #FFFFFF;
    background-color: #000000;
    display: block;
    padding: 11px 8px 16px;
}

.dataTables_length {
    background-color: #000000;
    color: #FFFFFF;
    float: left;
    font-size: 0.9em;
    font-weight: bold;
    width: 160px;
}

.dataTables_filter {
    color: #FFFFFF;
    background-color: #000000;
    float: right;
    text-align: right;
    font-size: 0.8em;
    font-weight: bold;
}

.dataTables_info {
    font-size: 0.8em;
    font-weight: bold;
}

.dataTables_filter input {
    width: 380px;
}

/*-------------------------------------------------*/

/*-------------------------------------------------*/
/*category*/
/*-------------------------------------------------*/
#part_content ul.category {
    margin: 0;
    padding: 0 0;
    *overflow: hidden;
    _overflow: visible;
}

#part_content .category li {
    margin: 0;
    padding: 3px 0;
    list-style: none;
    display: block;
}

#part_content .category li a, #part_content .category li a:link {
    margin: 0;
    padding: 0.3em;
}

/*-------------------------------------------------*/
/*icon*/
/*-------------------------------------------------*/
#part_content .iconToday {
    color: #FFFFFF;
    text-shadow: 1px 1px 3px #666;
    font-weight: bold;
    font-size: 0.9em;
    background-color: #139246;
    padding: 2px 5px;
    background: -moz-linear-gradient(top, #139246, #84b886); /* Firefox 用 */
    background: -webkit-gradient(linear, left top, left bottom, from(#139246), to(#84b886)); /* Safari,Google Chrome用 */
    _background-color: #139246;
    -moz-box-shadow: 1px 1px 2px #888; /* Firefox 用 */
    -webkit-box-shadow: 1px 1px 3px #888; /* Safari,Google Chrome用 */
    white-space: nowrap;
    word-break: keep-all;
    word-wrap: normal;
    text-align: center;
}

#part_content .iconOutOfOrder {
    color: #FFFFFF;
    text-shadow: 1px 1px 3px #666;
    font-weight: bold;
    font-size: 0.9em;
    background-color: #e94247;
    padding: 2px 5px;
    background: -moz-linear-gradient(top, #e94247, #ffa8be); /* Firefox 用 */
    background: -webkit-gradient(linear, left top, left bottom, from(#e94247), to(#ffa8be)); /* Safari,Google Chrome用 */
    _background-color: #e94247;
    -moz-box-shadow: 1px 1px 2px #888; /* Firefox 用 */
    -webkit-box-shadow: 1px 1px 3px #888; /* Safari,Google Chrome用 */
}

#part_content .iconAsk {
    color: #FFFFFF;
    text-shadow: 1px 1px 3px #666;
    font-weight: bold;
    font-size: 0.9em;
    background-color: #303030;
    padding: 2px 5px;
    background: -moz-linear-gradient(top, #303030, #808080); /* Firefox 用 */
    background: -webkit-gradient(linear, left top, left bottom, from(#303030), to(#808080)); /* Safari,Google Chrome用 */
    _background-color: #303030;
    -moz-box-shadow: 1px 1px 2px #888; /* Firefox 用 */
    -webkit-box-shadow: 1px 1px 3px #888; /* Safari,Google Chrome用 */
}

/*clear both*/
#part_content .clear {
    clear: both;
    font-size: 0px;
    margin: 0px;
    padding: 0px;
}

/* keyword highlight */
.highlight {
    background-color: yellow;
}

#thumList img {
    padding: 1px;
    margin: 1px;
    border: 4px solid #FFFFFF;
    cursor: pointer;
}

#part_content .product_grid_image {
    height: 110px;
    overflow: hidden;
    text-align: center;
    width: 100px;
}

#part_content .product_grid_image img {
    height: 100px;
    width: 100px;
}

#part_content img {
    border: medium none;
    color: #FFFFFF;
}

#one_item_description {
    padding: 8px;
    width: 98%;
}

#allReset {
    font-size: 0.8em;
    font-weight: bold;
}

#part_content .product_store_list {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 50px;
}

/* simple clearfix */
#part_content .product_store_list {
    overflow: hidden;
}

* html #part_content .product_store_list {
    height: 1%;
}

#part_content .product_store_list .store_div {
    float: left;
    width: 102px;
    margin-right: 15px;
    text-align: center;
}

#part_content .product_store_list .store_div a {
    display: block;
}

#part_content .product_store_list .store_div .store_img img {
    border: 1px solid #ccc;
}

.page_product_imagewindow #thumList {
    overflow: auto;
    overflow-y: scroll;
    border: 1px solid #000000;
    width: 135px;
    height: 450px;
    padding: 5px;
}

#thumList .small_img {
    width: 100px;
    height: 100px;
}

#thumSpace {
    max-width: 440px;
    max-height: 440px;
}

#image_window_table .imagewindow_td {
    height: 460px;
    text-align: left;
    vertical-align: top;
    width: 460px;
}

#itemcode {
    display: block;
    left: 0;
    position: relative;
    top: 0;
    vertical-align: top;
}

#thumList .small_img {
    border: 4px solid #FFFFFF;
}

.image_window_product_wrapper {
    background: URL(images/product_loader.gif) no-repeat center;
    height: 440px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 440px;
}

.imagebox_wrapper {
    height: 350px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 350px;
}

#part_content .popup_checkbox {
    position: absolute;
    padding: 6px 15px;
    text-align: left;
    background-color: #fff;
    border: 2px double #ccc;
    display: none;
    color: black;
    z-index: 1000;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    box-shadow: 5px 5px 5px #ccc;
    overflow-y: auto;
    max-height: 150px;
    white-space: nowrap;
    word-break: keep-all;
    word-wrap: normal;
}

* html #part_content .popup_checkbox {
    height: expression( this.scrollHeight > 150 ? "150px" : "auto" );
}

.popup_checkbox_inner {
    white-space: nowrap;
    word-break: keep-all;
    word-wrap: normal;
    overflow: hidden;
    padding: 0 10px 0 0;
}

#part_content .popup_checkbox label {
    padding-left: 4px;
}

#part_content .opt_label {
    background-color: #FFFFFF;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center right;
    background-image: url(images/dropdown.gif);
    width: 50px;
    text-align: center;
    font-weight: normal;
    margin: 0 auto 0 auto;
    padding-right: 12px;
}

/* item overlay  */
#item_overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    background-color: #000000;
    filter: alpha(opacity=45);
    opacity: 0.45;
    z-index: 1000;
}

#item_data_layer {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    display: none;
    height: auto;
    width: 800px;
    margin: 0;
    padding: 16px;
    z-index: 1500;
    box-shadow: 6px 6px 12px black;
    -moz-box-shadow: 6px 6px 12px black;
    -webkit-box-shadow: 6px 6px 12px black;
    border-radius: 85px 25px 85px 25px;
}

#item_data_layer_ie_shadow {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    display: none;
    height: auto;
    width: 800px;
    margin: 0;
    padding: 16px;
    z-index: 1200;
    filter: alpha(opacity=50); /* ie 6 7 */
    -ms-filter: "alpha(opacity=50)"; /* ie 8 */
}

#item_data_layer .productNarrowByLink {
    background-color: #FF6600;
    color: #FFFFFF;
    height: 23px;
    margin: 6px 0;
    overflow: hidden;
    padding: 2px 4px;
    text-align: right;
}

#item_data_layer .productImageBox {
    margin: 0 auto;
    _margin: 0 0 0 18px;
    padding: 18px 0 0 0;
    width: 200px;
}

#item_data_layer .productImageBox .imageLarge img {
    border: medium none;
    height: 180px;
    width: 180px;
    vertical-align: middle;
}

#item_data_layer .productNarrowByLink span {
    display: block;
    float: left;
    font-weight: bold;
    overflow: hidden;
    text-align: left;
    white-space: nowrap;
    word-break: keep-all;
    word-wrap: normal;
    text-overflow: ellipsis;
    width: 460px;
}

#item_data_layer .productNarrowByLink a {
    color: #FFFFFF;
}

#item_data_layer .productImageBox ul.imageLarge {
    display: block;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

#item_data_layer .productImageBox .imageLarge li {
    background: url(images/product_loader.gif) no-repeat scroll center center transparent;
    display: block;
    height: 200px;
    line-height: 200px;
    list-style: none outside none;
    margin: 0 8px 8px 0;
    overflow: hidden;
    padding: 0;
    text-align: center;
    width: 200px;
    box-shadow: 1px 1px 2px black;
    border: 1px solid #E7E7E7;
}

#item_data_layer .layer_image_box {
}

#item_data_layer .ships {
    float: left;
    padding: 2px 0 0 20px;
}

#item_data_layer .prices_label {
    margin-left: 30px;
    float: left;
}

#item_data_layer .price {
    float: right;
    padding: 0 22px 0 0;
    color: #FE5600;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    word-break: keep-all;
    word-wrap: normal;
}

#item_data_layer .list_price {
    float: right;
    padding: 0 22px 0 0;
    color: black;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    word-break: keep-all;
    word-wrap: normal;
}

#item_data_layer .special_price_icon {
    margin: 0 0 0 6;
    vertical-align: middle;
}

#layer_item_description_attr {
    margin: 0 0 20px;
    width: 98%;
}

#layer_item_description_attr .description_attr {
    margin: 0 0 8px 18px;
    padding: 0 0 18px 8px;
}

#layer_item_description_attr .description_attr dt {
    display: inline;
    font-weight: bold;
    margin: 0;
    padding: 0;
    width: 35%;
}

#layer_item_description_attr .description {
    font-size: 0.9em;
    word-wrap: break-word;
}

.layer_item_add_cart {
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
}

#item_data_layer .addToCart {
    vertical-align: bottom;
}

/*
    item_description_attr
*/
#item_description_attr {
    margin: 0 0 20px 0;
    width: 98%;
}

#item_description_attr .option {
    margin: 0;
}

#item_description_attr dt,
#layer_item_description_attr dt {
    margin: 0;
    float: left;
    clear: both;
}

#item_description_attr dd,
#layer_item_description_attr dd {
    margin: 0 0 0 35%;
    padding: 0 0 0.6em 0;
}

#pd_table a {
    text-decoration: underline;
    color: #E96C0A;
}

.p-price {
    color: #E4393C;
    font-size: 18px;
}

.p-tel {
    color: #E4393C;
    font-size: 14px;
}

.productName {
    font-weight: bold;
}