TD.td1 {
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    BACKGROUND: #F1F3F5;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px;
}

TD.td2 {
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 3px;
    BACKGROUND: #E4EDF9;
    PADDING-BOTTOM: 3px;
    PADDING-TOP: 3px;
}