<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8" />
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css" id="theme"
	th:href="@{/v2/css/theme-default.css}" />
<link th:href="@{/huploadify/Huploadify.css}" rel="stylesheet"
	type="text/css" />
</head>
<body>
	<form action="" id="systemUserForm">
		<div class="page-title">                    
			<h2><span class="fa fa-arrow-circle-o-left"></span></h2>
			<a th:href="'/user/to-save?userId='+${backUser.userId}" class="btn btn-info">编辑</a>
			<a href="/user/to-save" class="btn btn-info">新建</a>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<!-- START TABS -->
				<div class="panel panel-default tabs">
					<ul class="nav nav-tabs" role="tablist">
						<li class="active"><a href="#tab-first" role="tab"
							data-toggle="tab">系统用户</a></li>
						<li><a href="#tab-second" role="tab" data-toggle="tab">菜单权限列表</a></li>
						<li><a href="#tab-third" role="tab" data-toggle="tab">登录日志</a></li>
					</ul>
					<div class="panel-body tab-content tabBox">
						<div class="tab-pane active" id="tab-first">
							<div class="nav col-md-6 nav-ul">
								<div class="col-md-12">
									<span class="col-md-2">编号</span><span class="col-md-6"
										th:text="${backUser.userId}"></span>
								</div>
								<div class="col-md-12">
									<span class="col-md-2"><font color="red">*</font>用户类型</span>
									<div class="col-md-6">
										<select class="form-control" id="userType" name="userType" disabled="disabled">
										    <option value="">没有选中任何项</option>
											<option value="1">管理员</option>
											<option value="2">普通用户</option>
										</select>
									</div>
								</div>
								<div class="col-md-12">
									<span class="col-md-2"><font color="red">*</font>用户角色</span>
									<div class="col-md-6">
										 <input type="text" id="userRoleNames"
										name="userRoleNames" th:value="${backUser.userRoleNames}" readonly="readonly" />
									</div>
								</div>
								<div class="col-md-12">
									<span class=" col-md-2 "><font color="red">*</font>用户名</span> <span
										class=" col-md-6"> <input type="tel" id="userAccount"
										name="userAccount" th:value="${backUser.userAccount}" readonly="readonly" />
									</span>
								</div>
								<div class="col-md-12">
									<span class=" col-md-2 "><font color="red">*</font>密码</span> <span
										class=" col-md-6"> <input type="password" id="userPasswd"
										name="userPasswd" th:value="${backUser.userPasswd}"
										readonly="readonly" />
									</span>
								</div>
								<div class="col-md-12">
									<span class="col-md-2">有效</span><span class="col-md-6"><input
										type="checkbox" id="userSts" name="userSts"
										th:checked="${backUser.userSts}==1?true:false" disabled="disabled"/></span>
								</div>
								<div class="col-md-12">
									<span class=" col-md-2 ">姓名</span> <span class=" col-md-6">
										<input type="text" id="userName" name="userName"
											   th:value="${backUser.userName}" readonly="readonly" />
									</span>
								</div>
								<div class="col-md-12">
									<span class=" col-md-2 ">电话</span> <span class=" col-md-6">
										<input type="tel" id="userPhone" name="userPhone"
											   th:value="${backUser.userPhone}" readonly="readonly" />
									</span>
								</div>
								<div class="col-md-12">
									<span class=" col-md-2 ">邮箱</span> <span class=" col-md-6">
										<input id="email" name="userEmail" type="userEmail"
											   th:value="${backUser.userEmail}" readonly="readonly"/>
									</span>
								</div>
								<div class="col-md-12">
									<span class=" col-md-2 ">备注</span> <span class=" col-md-6">
										<textarea id="remark" name="remark"
											th:text="${backUser.remark}" rows="" cols="" class="remark" readonly="readonly"></textarea>
									</span>
								</div>
								<div class="col-md-12">
									<span class="col-md-2">创建于</span><span class="col-md-6"
										th:text="${backUser.createTime==null?'':#dates.format(backUser.createTime,'yyyy-MM-dd HH:mm:ss')}"></span>
								</div>
								<div class="col-md-12">
									<span class="col-md-2">更新于</span><span class="col-md-6"
										th:text="${backUser.tmSmp==null?'':#dates.format(backUser.tmSmp,'yyyy-MM-dd HH:mm:ss')}"></span>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="tab-second">
							<div class="tab-box">
									<div id="searchModuleTree"></div>
							</div>
						</div>
						<div class="tab-pane" id="tab-third">
							<div class="panel-body">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>编号</th>
											<th>登录时间</th>
											<th>IP</th>
										</tr>
									</thead>
									<tbody th:if="${userLoginRecordList != null }">
										<tr th:each="page,iterStat:${userLoginRecordList}">
											<td th:text="${page.id}"></td>
											<td
												th:text="${page.tmSmp==null?'':#dates.format(page.tmSmp,'yyyy-MM-dd HH:mm:ss')}"></td>
											<td th:text="${page.loginIp}"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<!-- END TABS -->
			</div>
		</div>
	</form>
</body>
<script type="text/javascript" th:src='@{/v2/js/jquery.min.js}'></script>
<script type="text/javascript" th:src='@{/v2/js/jquery-ui.min.js}'></script>
<script type="text/javascript" th:src='@{/v2/js/bootstrap.min.js}'></script>
<script type="text/javascript" th:src='@{/v2/js/bootstrapValidator.min.js}'></script>
<script type='text/javascript' th:src='@{/v2/js/icheck.min.js}'></script>
<script type="text/javascript"
	th:src="@{/v2/js/jquery.mCustomScrollbar.min.js}"></script>
<script type="text/javascript" th:src="@{/v2/js/bootstrap-select.js}"></script>
<script type="text/javascript"
	th:src="@{/v2/js/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/v2/js/settings.js}"></script>
<script type="text/javascript" th:src="@{/v2/js/plugins.js}"></script>
<script type="text/javascript" th:src="@{/v2/js/actions.js}"></script>
<script type="text/javascript"
	th:src="@{/v2/js/bootstrap-treeview.min.js}"></script>
<script type="text/javascript" th:src="@{/v2/js/common.js}"></script>
<script type="text/javascript"
	th:src="@{/huploadify/jquery.Huploadify.js}"></script>
<script type="text/javascript" th:src="@{/js/base.js}"></script>
<script th:inline="javascript">
        /*<![CDATA[*/
        	$(function(){
        			$('#systemUserForm').bootstrapValidator();
	        		$('.selectpicker').selectpicker({});
					$("#userType").val([[${backUser.userType}]]);
					loadModule([[${backUser.userRoles}]],true);
        	})
        	function loadModule(roleId,isInit){
        		$.ajax({
                    type: "post",
                    data: {"roleId": roleId},
                    dataType: "json",
                    url: "/sysRole/getModule",
                    success: function (ret) {
                    	$("#searchModuleTree").html('<span><i class="icon-minus-sign"></i><input value="0" type="checkbox"/> 全选</span>' + ret.msg);
                    	if(isInit){//第一次加载选中数据库里面的值
                    		var userModules=[[${backUser.userModules}]];
                    	    if(userModules!=null){
                    	    	var userModule=userModules.split(",");
                    	    	$.each(userModule,function(i,value){
		  							$(".tab-box").find("input[type=checkbox]")
		  							$(".chp_"+value).prop('checked',true);
		  						});
                    	    }
                    	}else{
                    		$(".tab-box").find("input[type=checkbox]").prop("checked", true);
                    	}
                    	$("input[type=checkbox]").prop("disabled", "disabled");
                        wait();
                    }
                });
        	}
        	$(".fa-arrow-circle-o-left").click(function(){
        		base.quitParent("/user/userList");
				})	
        	 /*]]>*/
        </script>
</html>
