<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" id="theme" th:href="@{/v2/css/theme-default.css}"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.css"/>
</head>
<body>
<form role="form" id="formpro" class="form-horizontal">

    <div class="block no-col-padding" style="margin-bottom:0;">
        <!--<div class="form-group col-md-12 btn-form" style="text-align:left;">
            <a href="#" class="btn btn-info loadExcel">导出excel</a>
        </div>-->
        <div class="form-group col-md-12 btn-form" style="text-align:left;">
            <a href="/spread/to-save" class="btn btn-info insertSpread">新增</a>
        </div>
        <div class="block" style="margin-bottom:0;">
            <div class="form-group col-md-4">
                <label class="col-md-4 control-label">推广ID:</label>
                <div class="col-md-8">
                    <input type="text" id="spreadId" name="spreadId" th:value="${spread.spreadId}"/>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label class="col-md-4 control-label">APP名称:</label>
                <div class="col-md-8">
                    <input type="text" id="appName" name="appName" th:value="${spread.appName}"/>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label class="col-md-4 control-label">借款期限:</label>
                <div class="col-md-8">
                    <select class="form-control" id="loanTerm" name="loanTerm">
                        <option th:value="-1" th:text="全部" th:selected="${loanTerm} == '-1'" selected="selected"/>
                        <!--<option th:value="0" th:text="自然流量" th:selected="${channelId} == 0" />selected="${channelId} == 0" selected="selected"/>-->
                        <option th:each="item, itemStat: ${terms}"
                                th:selected="${item} == ${loanTerm}" th:value="${item}"
                                th:text="${item}"/>
                    </select>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label class="col-md-4 control-label">额度:</label>
                <div class="col-md-8">
                    <select class="form-control" id="quota" name="quota">
                        <option th:value="-1" th:text="全部" th:selected="${quota} == '-1'" selected="selected"/>
                        <!--<option th:value="0" th:text="自然流量" th:selected="${channelId} == 0" />selected="${channelId} == 0" selected="selected"/>-->
                        <option th:each="item, itemStat: ${quotas}"
                                th:selected="${item} == ${quota}" th:value="${item}"
                                th:text="${item}"/>
                    </select>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label class="col-md-4 control-label">公司名称:</label>
                <div class="col-md-8">
                    <input type="text" id="companyName" name="companyName" th:value="${spread.companyName}"/>
                </div>
            </div>
            <div class="form-group col-md-4 min-w330">
                <label class="col-md-4 control-label">创建时间:</label>
                <div class="col-md-8">
                    <input autocomplete="off" readonly="readonly" name="startDate" id="startDate" th:value="${startDate}"
                           type="text" class="required"
                           style="width: 45%; float: left; padding: 6px 9px;"
                           onfocus="WdatePicker({isShowClear:true,readOnly:false,dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'endDate\')||\'%y-%M-%d\'}'})"
                           title="请输入开始日期" size="30"/><span class="line">-</span><input autocomplete="off" readonly="readonly"
                        name="endDate" style="width: 45%; float: left; padding: 6px 9px;"
                        id="endDate" th:value="${endDate}" type="text" class="required"
                        onfocus="WdatePicker({isShowClear:true,readOnly:false,dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'startDate\')||\'%y-%M-%d\'}'})"
                        title="请输入截止日期" size="30"/>
                </div>
            </div>
            <div th:if="${hasParamStatus eq '1'}" class="form-group col-md-4">
                <input type="hidden" name="hasParamStatus" value="1"/>
                <label class="col-md-4 control-label">状态:</label>
                <div class="col-md-8">
                    <select class="form-control" id="spreadStatus" name="spreadStatus">
                        <option value="" selected="selected">全部</option>
                        <option value="1" th:selected="${spread.spreadStatus == 0}">有效</option>
                        <option value="2" th:selected="${spread.spreadStatus == 1}">无效</option>
                    </select>
                </div>
            </div>
            <!--<span th:if="${hasParamStatus eq '0'}">-->
                	<!--<input type="hidden" id="status" name="status" th:value="${status}"/>-->
                <!--</span>-->
            <div class="form-group col-md-12 btn-form" style="text-align:right;">
                <button type="submit" class="btn btn-info">查询</button>
            </div>
        </div>
    </div>
</form>
<div class="panel-body">
    <table class="table" id="bigDataList">
        <thead>
        <tr>
            <th>序号</th>
            <th>推广ID</th>
            <th>APP名称</th>
            <th>App图标</th>
            <th>App地址</th>
            <th>APP介绍</th>
            <th>借款期限</th>
            <th>额度</th>
            <th>点击量</th>
            <th>好评度</th>
            <th>公司名称</th>
            <th>公司电话</th>
            <th>创建时间</th>
            <th>创建人</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="page,iterStat:${pageInfo.list}">
            <td th:text="${iterStat.index+1	}"></td>
            <td th:text="${page.spreadId}"></td>
            <td th:text="${page.appName}"></td>
            <td >
                <img th:src="${page.appIcon}" width="30px" height="30px" style="border-radius:5px"/>
            </td>
            <td th:text="${page.appUrl}"></td>
            <td th:text="${page.appIntroduce}"></td>
            <td th:text="${page.loanTermStart+'-'+page.loanTermEnd}"></td>
            <td th:text="${page.quotaStart+'-'+page.quotaEnd}"></td>
            <td th:text="${page.clicksCount}"></td>
            <td th:text="${page.praiseDegree}"></td>
            <td th:text="${page.companyName}"></td>
            <td th:text="${page.companyPhone}"></td>
            <td th:text="${page.createTime!=null &amp;&amp; page.createTime != '0000-00-00 00:00:00'? #dates.format(page.createTime,'yyyy-MM-dd HH:mm:ss') : ''}"></td>
            <td th:text="${page.createUser}"></td>
            <td th:if="${page.spreadStatus == 0}">有效</td>
            <td th:if="${page.spreadStatus == 1}">无效</td>
            <td>
                <a th:href="'/spread/detail?spreadId='+${page.spreadId}">详情</a>&nbsp;&nbsp;
                <a th:href="'/spread/to-save?spreadId='+${page.spreadId}">编辑</a>&nbsp;&nbsp;
            </td>
        </tr>
        </tbody>
    </table>
    <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td height="33">
                <table width="100%" border="0" align="center" cellpadding="0"
                       cellspacing="0" class="right-font08">
                    <tr>
                        <td align="left" class="td2" th:if="${not #lists.isEmpty(pageInfo)}"
                            th:text="   ${'共'+pageInfo.total+ '条'}">
                        </td>
                        <td align="right" class="td2" id="pageFooter">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>
<script type="text/javascript" th:src='@{/v2/js/jquery.min.js}'></script>
<script type="text/javascript" th:src='@{/v2/js/jquery-ui.min.js}'></script>
<script type="text/javascript" th:src='@{/v2/js/bootstrap.min.js}'></script>
<script type='text/javascript' th:src='@{/v2/js/icheck.min.js}'></script>
<script type="text/javascript" th:src="@{/v2/js/jquery.mCustomScrollbar.min.js}"></script>
<script type="text/javascript" th:src="@{/v2/js/bootstrap-select.js}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.js"></script>
<script type="text/javascript" th:src="@{/v2/js/settings.js}"></script>
<script type="text/javascript" th:src="@{/v2/js/plugins.js}"></script>
<script type="text/javascript" th:src="@{/v2/js/actions.js}"></script>
<script type="text/javascript" th:src="@{/v2/js/bootstrap-treeview.min.js}"></script>
<script type="text/javascript" th:src="@{/v2/js/common.js}"></script>
<script th:src="@{/js/page/create-page.js}" type="text/javascript"></script>
<script th:src="@{/v2/js/dataTables.treeGrid.js}"></script>
<script th:src="@{/js/My97DatePicker/WdatePicker.js}" type="text/javascript"></script>
<script th:inline="javascript">
    $(function () {
        $("#pageFooter").html(createPager([[${pageInfo}]], "formpro"));
    });

    // function setIsStatus(status,id) {
    //     $.ajax({
    //         type   : "post",
    //         data   : {"spreadId":id,"spreadStatus":status},
    //         url    : [[@{/spread/save}]],
    //         success: function(resp) {
    //             hidden();
    //             alertPopup(resp.msg,function(){
    //                 location.href='/spread/pageList';
    //             });
    //         }
    //     }
    // }
</script>
</html>
