<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyget.dao.TChannelWithholdConfigMapper">
  <resultMap id="BaseResultMap" type="com.easyget.entity.TChannelWithholdConfig">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="channel_type" jdbcType="VARCHAR" property="channelType" />
    <result column="channel_name" jdbcType="VARCHAR" property="channelName" />
    <result column="channel_server_bean" jdbcType="VARCHAR" property="channelServerBean" />
    <result column="priority" jdbcType="INTEGER" property="priority" />
    <result column="eff_time" jdbcType="TIMESTAMP" property="effTime" />
    <result column="exp_time" jdbcType="TIMESTAMP" property="expTime" />
    <result column="create_account" jdbcType="VARCHAR" property="createAccount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_account" jdbcType="VARCHAR" property="updateAccount" />
    <result column="tm_smp" jdbcType="TIMESTAMP" property="tmSmp" />
  </resultMap>
</mapper>