<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyget.dao.TSysUserMapper">
  <resultMap id="BaseResultMap" type="com.easyget.entity.TSysUser">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
    <result column="user_account" jdbcType="VARCHAR" property="userAccount" />
    <result column="user_passwd" jdbcType="VARCHAR" property="userPasswd" />
    <result column="user_sts" jdbcType="INTEGER" property="userSts" />
    <result column="user_type" jdbcType="INTEGER" property="userType" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
    <result column="user_email" jdbcType="VARCHAR" property="userEmail" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="login_time" jdbcType="TIMESTAMP" property="loginTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="tm_smp" jdbcType="TIMESTAMP" property="tmSmp" />
  </resultMap>

  <sql id="Base_Column_List">
    user_id,
    role_id,
    user_account,
    user_passwd,
    user_sts,
    user_type,
    user_name,
    user_phone,
    user_email,
    remark,
    login_time,
    create_time,
    tm_smp
  </sql>

  <update id="updateByUserId">
    update t_sys_user
    <set>
      <if test="roleId != null">
        role_id = #{roleId},
      </if>
      <if test="userAccount != null">
        user_account = #{userAccount},
      </if>
      <if test="userPasswd != null">
        user_passwd = #{userPasswd},
      </if>
      <if test="userSts != null">
        user_sts = #{userSts},
      </if>
      <if test="userType != null">
        user_type = #{userType},
      </if>
      <if test="userName != null">
        user_name = #{userName},
      </if>
      <if test="userPhone != null">
        user_phone = #{userPhone},
      </if>
      <if test="userEmail != null">
        user_email = #{userEmail},
      </if>
      <if test="remark != null">
        remark = #{remark},
      </if>
      <if test="loginTime != null">
        login_time = #{loginTime},
      </if>
    </set>
    where user_id = #{userId}
  </update>

  <select id="findByAccount" resultMap="BaseResultMap" parameterType="java.util.Map">
    select  <include refid="Base_Column_List" />
    from t_sys_user where 1=1
    <if test="userId != null and userId != ''">
      and user_id = #{userId}
    </if>
    <if test="userAccount != null and userAccount != ''">
      and user_account = #{userAccount}
    </if>
  </select>

  <select id="getListByRoleId" resultMap="BaseResultMap" parameterType="java.lang.String">
    select * from t_sys_user where role_id = #{roleId} and user_sts = 1 order by login_time desc
  </select>

  <select id="getUserIdsByRoleId" resultType="String">
    select group_concat(user_id) from t_sys_user where role_id = #{roleId}
  </select>

  <select id="selectByUserId" resultMap="BaseResultMap" >
    select <include refid="Base_Column_List" /> from t_sys_user where user_id = #{userId}
  </select>

  <select id="getPageList" parameterType="Map" resultMap="BaseResultMap">
    select tsr.role_name userRoleNames,tsu.* from t_sys_user tsu left join t_sys_role tsr on tsu.role_id = tsr.role_id
    where 1=1
    <if test="userType !=null and userType !='' and userType != 'null'">
      and tsu.user_type=#{userType}
    </if>
    <if test="userAccount !=null and userAccount !='' and userAccount != 'null'">
      and tsu.user_account like CONCAT('%',#{userAccount},'%')
    </if>
    <if test="userName !=null and userName !='' and userName != 'null'">
      and tsu.user_name like CONCAT('%',#{userName},'%')
    </if>
    <if test="userSts !=null and userSts !='' and userSts != 'null'">
      and tsu.user_sts=#{userSts}
    </if>
    <if test="userRoles !=null and userRoles !='' and userRoles != 'null'">
      and tsr.role_id in (${userRoles})
    </if>
    ORDER BY tsu.id
  </select>

  <select id="getRoleIdsByUserId" resultType="String" parameterType="String">
    select group_concat(role_id) from t_sys_user  where user_id=#{userId}
  </select>

  <select id="getRoleNamesByUserId" resultType="String" parameterType="String">
    select group_concat(tsr.role_name) from t_sys_role tsr,t_sys_user tsu where tsr.role_id=tsu.role_id and tsu.user_id=#{userId}
  </select>
</mapper>