<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyget.dao.TSysRoleModuleMapper">
  <resultMap id="BaseResultMap" type="com.easyget.entity.TSysRoleModule">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="module_id" jdbcType="VARCHAR" property="moduleId" />
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="tm_smp" jdbcType="TIMESTAMP" property="tmSmp" />
  </resultMap>
  <select id="getModuleIdsByRoleId" resultType="java.lang.String">
    select group_concat(module_id) from t_sys_role_module where role_id=#{roleId}
  </select>
  <select id="getDelModuleIdsByRoleId" resultType="String" parameterType="com.easyget.entity.TSysRole" >
    select group_concat(module_id) from t_sys_role_module  where role_id=#{roleId}
    <if test="roleModules != null and roleModules !=''">
      and module_id not in (${roleModules})
    </if>
  </select>
  <delete id="removeRoleModuleIdsAndRoleId" parameterType="String" >
        delete from t_sys_role_module where role_id in (${roleIds}) and module_id in (${moduleIds})
  </delete>
  <delete id="removeRoleModuleByRoleId" parameterType="String" >
    delete from t_sys_role_module where role_id = #{roleId}
  </delete>
</mapper>