<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyget.dao.TUserInfoMapper">
  <resultMap id="BaseResultMap" type="com.easyget.entity.TUserInfo">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_no" jdbcType="VARCHAR" property="userNo" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="race" jdbcType="VARCHAR" property="race" />
    <result column="user_id_no" jdbcType="VARCHAR" property="userIdNo" />
    <result column="login_password" jdbcType="VARCHAR" property="loginPassword" />
    <result column="pay_password" jdbcType="VARCHAR" property="payPassword" />
    <result column="province" jdbcType="INTEGER" property="province" />
    <result column="city" jdbcType="INTEGER" property="city" />
    <result column="area" jdbcType="INTEGER" property="area" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="live_time" jdbcType="INTEGER" property="liveTime" />
    <result column="house_type" jdbcType="INTEGER" property="houseType" />
    <result column="industry" jdbcType="INTEGER" property="industry" />
    <result column="position" jdbcType="INTEGER" property="position" />
    <result column="income" jdbcType="DECIMAL" property="income" />
    <result column="work_unit_name" jdbcType="VARCHAR" property="workUnitName" />
    <result column="work_unit_addr" jdbcType="VARCHAR" property="workUnitAddr" />
    <result column="work_unit_tel" jdbcType="VARCHAR" property="workUnitTel" />
    <result column="marriage_sts" jdbcType="INTEGER" property="marriageSts" />
    <result column="education" jdbcType="INTEGER" property="education" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="user_sts" jdbcType="INTEGER" property="userSts" />
    <result column="is_old" jdbcType="INTEGER" property="isOld" />
    <result column="share_code" jdbcType="VARCHAR" property="shareCode" />
    <result column="invite_rate" jdbcType="DECIMAL" property="inviteRate" />
    <result column="invite_user_no" jdbcType="VARCHAR" property="inviteUserNo" />
    <result column="is_identity_info" jdbcType="INTEGER" property="isIdentityInfo" />
    <result column="is_real_name" jdbcType="INTEGER" property="isRealName" />
    <result column="is_bind_card" jdbcType="INTEGER" property="isBindCard" />
    <result column="is_linkman" jdbcType="INTEGER" property="isLinkman" />
    <result column="is_operator" jdbcType="INTEGER" property="isOperator" />
    <result column="is_ec_auth" jdbcType="INTEGER" property="isEcAuth" />
    <result column="reserve_field1" jdbcType="VARCHAR" property="reserveField1" />
    <result column="reserve_field2" jdbcType="VARCHAR" property="reserveField2" />
    <result column="reserve_field3" jdbcType="VARCHAR" property="reserveField3" />
    <result column="tm_smp" jdbcType="TIMESTAMP" property="tmSmp" />
  </resultMap>
</mapper>