<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8" />
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css" id="theme"
	th:href="@{/v2/css/theme-default.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/v2/css/jqueryDatatable.css}" />
	<style>
		#remark_a{
			cursor: pointer;
		}
		a{
			text-decoration: none;
		}
	</style>
</head>
<body>
	<form role="form"
		th:action="@{/assetRepaymentOrder/pageList?type=7}" id="formpro"
		class="form-horizontal">
		<input type="hidden" id="type" name="type" value="7"/>
		<div class="block no-col-padding" style="margin-bottom: 0;">
			<div class="form-group col-md-12 btn-form" style="text-align: left;">
				<button type="button" id="export" class="btn btn-info">导出excel</button>
				<a style="display: none"
					th:href="@{/assetRepaymentOrder/pageListExport}"
					id="exportExcel">导出</a>
			</div>
			<div class="form-group col-md-4">
				<label class="col-md-4 control-label">订单号：</label>
				<div class="col-md-8">
					 <input type="text" id="orderId" name="orderId" th:value="${orderId}"/>
				</div>
			</div>
			<div class="form-group col-md-4">
				<label class="col-md-4 control-label">手机：</label>
				<div class="col-md-8">
					 <input type="text" id="userPhone" name="userPhone" th:value="${userPhone}"/>
				</div>
			</div>
			<div class="form-group col-md-4">
				<label class="col-md-4 control-label">姓名：</label>
				<div class="col-md-8">
					 <input type="text" id="userName" name="userName" th:value="${userName}"/>
				</div>
			</div>
			<div class="form-group col-md-4 min-w330">
				<label class="col-md-4 control-label">应还款时间</label>
				<div class="col-md-8">
					<input name="startDate" id="startDate" th:value="${startDate}"
						type="text" class="required"
						style="width: 45%; float: left; padding: 6px 9px;"
						onfocus="WdatePicker({isShowClear:true,readOnly:false,dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'endDate\')||\'%y-%M-%d\'}'})"
						title="请输入开始日期" size="30" /><span class="line">-</span><input
						name="endDate" style="width: 45%; float: left; padding: 6px 9px;"
						id="endDate" th:value="${endDate}" type="text" class="required"
						onfocus="WdatePicker({isShowClear:true,readOnly:false,dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'startDate\')||\'%y-%M-%d\'}'})"
						title="请输入截止日期" size="30" />
				</div>
			</div>
			<div class="form-group col-md-4">
				<label class="col-md-4 control-label">渠道:</label>
				<div class="col-md-8">
					<select class="form-control" id="channelId" name="channelId">
						<option th:value="-1" th:text="全部" th:selected="${channelId} == -1" selected="selected"/>
						<!--<option th:value="0" th:text="自然流量" th:selected="${channelId} == 0" />selected="${channelId} == 0" selected="selected"/>-->
						<option th:each="item, itemStat: ${channelList}"
								th:selected="${item.id} == ${channelId}"	th:value="${item.id}" th:text="${item.channelName}" />
					</select>
				</div>
			</div>-
			<div class="form-group col-md-4">
				<label class="col-md-4 control-label">资方:</label>
				<div class="col-md-8">
					<select class="form-control" id="paymentChannel" name="paymentChannel">
						<option value="" th:text="全部" th:selected="${paymentChannel} == ''" selected="selected"/>
						<!--<option th:value="0" th:text="自然流量" th:selected="${channelId} == 0" />selected="${channelId} == 0" selected="selected"/>-->
						<option th:each="item, itemStat: ${paymentChannels}"
								th:selected="${item.key} == ${paymentChannel}" th:value="${item.key}"
								th:text="${item.value}"/>
					</select>
				</div>
			</div>
			<div class="form-group col-md-4">
				<label class="col-md-4 control-label">性别:</label>
				<div class="col-md-8">
					<select class="form-control" id="sex" name="sex">
						<option th:value="-1" th:text="全部" th:selected="${sex} == -1" selected="selected"/>
						<option th:value="1" th:text="男" th:selected="${sex} == 1"/>
						<option th:value="0" th:text="女" th:selected="${sex} == 0"/>
					</select>
				</div>
			</div>
			<div class="form-group col-md-4">
				<label class="col-md-4 control-label">是否老客:</label>
				<div class="col-md-8">
					<select class="form-control" id="isOld" name="isOld">
						<option th:value="-1" th:text="全部" th:selected="${isOld} == -1" selected="selected"/>
						<option th:value="1" th:text="是" th:selected="${isOld} == 1"/>
						<option th:value="0" th:text="否" th:selected="${isOld} == 0"/>
					</select>
				</div>
			</div>
			<div class="form-group col-md-4 btn-form" style="text-align: right;">
				<button type="submit" class="btn btn-info">查询</button>
			</div>
		</div>
	</form>
	<div class="panel-body">
		<table class="table" id="bigDataList">
			<thead>
				<tr>
					<th>订单号</th>
					<th>姓名</th>
					<th>手机号</th>
					<th>借款金额</th>
					<th>违约金</th>
					<th>滞纳金</th>
					<th>累计应还金额</th>
					<th>已还金额</th>
					<th>放款时间</th>
					<th>资方</th>
					<th>应还款时间</th>
					<th>逾期天数</th>
					<th>风控</th>
					<th>渠道</th>
					<th>老用户</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="page,iterStat:${pageInfo.list}">
					<td th:text="${page.orderId}"></td>
					<td th:text="${page.userName}"></td>
					<td th:text="${page.userPhone}"></td>
					<td th:text="${page.moneyAmount}"></td>
					<td th:text="${page.penaltyAmount}"></td>
					<td th:text="${page.planLateFee}"></td>
					<td th:text="${page.repaymentAmount}"></td>
					<td th:text="${page.repaymentedAmount}"></td>
					<td th:text="${page.creditRepaymentTime==null?'':#dates.format(page.creditRepaymentTime,'yyyy-MM-dd HH:mm:ss')}"></td>
					<td th:text="${paymentChannels[page.paymentChannel]}"></td>
					<td th:text="${page.repaymentTime==null?'':#dates.format(page.repaymentTime,'yyyy-MM-dd HH:mm:ss')}"></td>
					<td th:text="${page.lateDay}"></td>
					<td>
						<span style="margin-bottom:5px;" target="external-frame" th:text="${page.adoptStatus == 1 ? '风控通过': (page.adoptStatus == 3 ? '审核中' : ((page.ppxStatus == 1 || page.dsStatus == 1) ? '审核拒绝' : '未风控'))}"></span>
						<br/>
						<span target="external-frame" th:text="${page.detail}"></span>
					</td>
					<td th:text="${page.channelName}"></td>
					<td th:text="${page.applyNew==1?'是':'否'}"></td>
					<td>
						<a th:href="'/borrowUser/borrowUserDetail?userId='+${page.userId}" >详情</a>&nbsp;&nbsp;
						<a id="remark_a" th:onclick="${'assetRenewal('+page.orderId+')'}">备注</a>
					</td>
				</tr>
			</tbody>
		</table>
		<table width="95%" border="0" align="center" cellpadding="0"
			cellspacing="0">
			<tr>
				<td height="33">
					<table width="100%" border="0" align="center" cellpadding="0"
						cellspacing="0" class="right-font08">
						<tr>
							<td align="left" class="td2"
								th:if="${not #lists.isEmpty(pageInfo)}"
								th:text="   ${'共'+pageInfo.total+ '条'}"></td>
							<td align="right" class="td2" id="pageFooter"></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>

		<div class="message-box animated fadeIn" data-sound="alert" id="renewal">
			<div class="nav col-md-8 nav-ul" style="left: 18%; top: 16%;">
				<form action="" id="renewalAmountForm">

					<input type="hidden" name="id" id="remarkId" />
					<input type="hidden" name = "orderId" id="remarkOrderId"/>
					<table class="openBox model-box" style="width: 60%">
						<tr>
							<td class="td-left">备注<font color="red">*</font></td>
							<td class="td-right" colspan="3">
								<textarea rows="5" cols="10" class="required"
										  id="remarkContent" name="content" style="width:70%;padding: 6px 14px;"></textarea>
							</td>
						</tr>
						<tr align="center">
							<td colspan="4">
								<button type="button" class="btn btn-success"
										onclick="doRenewalSubmit()">保存</button>
								<button type="button" onclick="$('#renewal').removeClass('show');" class="btn btn-default renewalActive">放弃</button>
							</td>

						</tr>
					</table>
				</form>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" th:src='@{/v2/js/jquery.min.js}'></script>
<script type="text/javascript" th:src='@{/v2/js/jquery-ui.min.js}'></script>
<script type="text/javascript" th:src='@{/v2/js/bootstrap.min.js}'></script>
<script type='text/javascript' th:src='@{/v2/js/icheck.min.js}'></script>
<script type="text/javascript"
	th:src="@{/v2/js/jquery.mCustomScrollbar.min.js}"></script>
<script type="text/javascript" th:src="@{/v2/js/bootstrap-select.js}"></script>
<script type="text/javascript"
	th:src="@{/v2/js/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/v2/js/settings.js}"></script>
<script type="text/javascript" th:src="@{/v2/js/plugins.js}"></script>
<script type="text/javascript" th:src="@{/v2/js/actions.js}"></script>
<script type="text/javascript"
	th:src="@{/v2/js/bootstrap-treeview.min.js}"></script>
<script type="text/javascript" th:src="@{/v2/js/common.js}"></script>
<script th:src="@{/js/page/create-page.js}" type="text/javascript"></script>
<script th:src="@{/js/My97DatePicker/WdatePicker.js}"
	type="text/javascript"></script>
<script th:inline="javascript">
        /*<![CDATA[*/
        	$(function(){
        		$("#pageFooter").html(createPager([[${pageInfo}]], "formpro"));  
        		$("#export").click(function () {
                    var exportExcel = document.getElementById("exportExcel");
                    var href = exportExcel.href;
                    exportExcel.href = href + '?' + $("#formpro").serialize();
                    exportExcel.click();
                    exportExcel.href = href;
                });
                $("#queryOperate").click(function(){
                	/*<![CDATA[*/
                    var startDate = $("#startDate").val();
                    var endDate = $("#endDate").val();
                    if (startDate == null || startDate == "") {
                        alert("开始时间不能为空");
                        return;
                    } 
                    if (endDate == null || endDate == "") {
                        alert("结束时间不能为空");
                        return;
                    } 
                    //时间不大于7天
                    //console.log(startDate+","+endDate);
                    var d1 = new Date(startDate);
                    var d2 = new Date(endDate);
                    //console.log(parseInt(d2 - d1) /1000/60/60/24);//两个时间相差的小时数
                    var d3=parseInt(d2 - d1) /1000/60/60/24;
                    if(d3>31){
                    	alert("查询范围不能超过31天");
                    	return;
                    }else{
                    	$("#formpro").submit();
                    }
                });
        	});

        //去续期
        function assetRenewal(orderId){
            console.log(orderId);
            var url=[[@{/remark/queryRemark}]];
            $.ajax({
                type   : "post",
                data   : {relationId:orderId,relationType:'ORDER'},
                url    : url,
                success: function (resp) {
                    if(resp){
						$("#remarkId").val(resp.id);
						$("#remarkContent").val(resp.content);
					}
                }
            });
            $("#remarkOrderId").val(orderId);
            $("#renewal").addClass("show");
        }
        //续期操作
        function doRenewalSubmit() {

            var remarkContent = $("#remarkContent").val().trim();
            if(remarkContent == ''){
                alertPopup("备注不能为空!");
                return;
            }
            var data = {
                relationId:$("#remarkOrderId").val(),
                id:$("#remarkId").val(),
				content:remarkContent,
                relationType:'ORDER'
            }
            var url=[[@{/remark/save}]];
            $.ajax({
                type   : "post",
                data   : data,
                url    : url,
                success: function (resp) {
                    if(resp!='success'){
                        alertPopup('保存失败！');
                    }else{
                        alertPopup('保存成功！',function(){
                            location.href='/assetRepaymentOrder/pageList?type=7';
                        });
                    }
                }
            });
        }


        	 /*]]>*/
        </script>
</html>
