<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8" />
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css" id="theme"
	th:href="@{/v2/css/theme-default.css}" />
<link th:href="@{/huploadify/Huploadify.css}" rel="stylesheet"
	type="text/css" />
</head>
<body>
	<form action="" id="systemModuleForm">
		<input type="hidden" id="moduleId" name="moduleId" th:value="${sysModule.moduleId}" />
		<input type="hidden" id="enable" name="enable"/>
		<div class="block">
			<div class="page-title">                    
                    <h2><span class="fa fa-arrow-circle-o-left"></span></h2>
                   <a th:href="'/sysModule/to-save?moduleId='+${sysModule.moduleId}" class="btn btn-info">编辑</a>
					<a href="/sysModule/to-save" class="btn btn-info">新建</a>
                </div>
				
		</div>
		<div class="row">
			<div class="col-md-12">
				<table>
					<tr>
						<td class="td-left">编号</td>
						<td class="td-right">
							<span class="col-md-6" th:text="${sysModule.moduleId}"></span>
						</td>
						<td class="td-left">有效</td>
						<td class="td-right">
							<input type="checkbox" id="enabledCheck" name="enabledCheck" th:checked="${sysModule.enable}==1?true:false" disabled="disabled"/>
						</td>
					</tr>
					<tr>
						<td class="td-left"><font color="red">*</font>名称</td>
						<td class="td-right">
							<input type="text" class="form-control" id="moduleName" name="moduleName" th:value="${sysModule.moduleName}" readonly="readonly"/>
						</td>
						<td class="td-left">上级模块</td>
						<td class="td-right">
							<input type="text" id="depName" name="depName" class="form-control" value="" readonly="readonly"/>
							<div id="treeview" class="col-md-6" style="display:none;"></div>
							<input type="hidden" id="superModuleId" name="superModuleId"/>
						</td>
					</tr>
					<tr>
						<td class="td-left">类型</td>
						<td class="td-right">
							<input type="radio" name="moduleType" value="1" th:checked="${sysModule.moduleType}==1?true:false" disabled="disabled"/>菜单
							<input type="radio" name="moduleType" value="2" th:checked="${sysModule.moduleType}==2?true:false" disabled="disabled"/>按钮
						</td>
						<td class="td-left"><font color="red">*</font>序号</td>
						<td class="td-right">
							<input type="number" class="form-control" id="moduleRank" name="moduleRank" th:value="${sysModule.moduleRank}" readonly="readonly"/>
						</td>
					</tr>
					<tr>
						<td class="td-left">URL地址</td>
						<td class="td-right">
							<input type="text" class="form-control"  id="moduleUrl" name="moduleUrl" th:value="${sysModule.moduleUrl}" readonly="readonly"/>
						</td>
					</tr>
					<tr>
						<td class="td-left">备注</td>
						<td class="td-right">
							<textarea id="remark" name="remark"
											th:text="${sysModule.remark}" rows="5" cols="" class="form-control tdTextarea" readonly="readonly"></textarea>
						</td>
					</tr>
					<tr>
						<td class="td-left">创建人</td>
						<td class="td-right">
							<span class="col-md-6" th:text="${sysModule.createAccount}"></span>
						</td>
						<td class="td-left">更新人</td>
						<td class="td-right">
							<span class="col-md-6" th:text="${sysModule.updateAccount}"></span>
						</td>
					</tr>
					<tr>
						<td class="td-left">创建于</td>
						<td class="td-right">
							<span class="col-md-6" th:text="${sysModule.createTime==null?'':#dates.format(sysModule.createTime,'yyyy-MM-dd HH:mm:ss')}"></span>
						</td>
						<td class="td-left">更新于</td>
						<td class="td-right">
							<span class="col-md-6" th:text="${sysModule.tmSmp==null?'':#dates.format(sysModule.tmSmp,'yyyy-MM-dd HH:mm:ss')}"></span>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</form>
</body>
<script type="text/javascript" th:src='@{/v2/js/jquery.min.js}'></script>
<script type="text/javascript" th:src='@{/v2/js/jquery-ui.min.js}'></script>
<script type="text/javascript" th:src='@{/v2/js/bootstrap.min.js}'></script>
<script type="text/javascript" th:src='@{/v2/js/bootstrapValidator.min.js}'></script>
<script type='text/javascript' th:src='@{/v2/js/icheck.min.js}'></script>
<script type="text/javascript"
	th:src="@{/v2/js/jquery.mCustomScrollbar.min.js}"></script>
<script type="text/javascript" th:src="@{/v2/js/bootstrap-select.js}"></script>
<script type="text/javascript"
	th:src="@{/v2/js/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:src="@{/v2/js/settings.js}"></script>
<script type="text/javascript" th:src="@{/v2/js/plugins.js}"></script>
<script type="text/javascript" th:src="@{/v2/js/actions.js}"></script>
<script type="text/javascript"
	th:src="@{/v2/js/bootstrap-treeview.min.js}"></script>
<script type="text/javascript" th:src="@{/v2/js/common.js}"></script>
<script type="text/javascript"
	th:src="@{/huploadify/jquery.Huploadify.js}"></script>
<script th:inline="javascript">
        /*<![CDATA[*/
        	$(function() {
        		$('#systemModuleForm').bootstrapValidator();
		        var options = {
		          bootstrap2: false, 
		          showTags: true,
				  showCheckbox:true,
				  checkedIcon:"glyphicon glyphicon-check",
		          data: transData([[${sysModuleList}]], 'id', 'pid', 'nodes',[[${sysModule.superModuleId}]]),
			  	onNodeSelected:function(event, data){
								$("#treeview").hide();
						  },
				  onNodeChecked: nodeChecked,  
          		  onNodeUnchecked: nodeUnchecked
		        };
		        var nodeCheckedSilent = false;  
					function nodeChecked (event, node){  
					    if(nodeCheckedSilent){  
					        return;  
					    }  
					    nodeCheckedSilent = true;
					    nodeCheckedSilent = false;  
					    $("#depName").val(node.text);
						$("#parentId").val(node.id);
					}
		  			var nodeUncheckedSilent = false;  
						function nodeUnchecked  (event, node){  
						    if(nodeUncheckedSilent)  
						        return;  
						    nodeUncheckedSilent = true;  
						    nodeUncheckedSilent = false;  
						    $("#depName").val("");
							$("#parentId").val("");
						}  
						$('#treeview').treeview(options);
		  		});
	        	function transData(a, idStr, pidStr, chindrenStr,onselect){    
	        	    var r = [], hash = {}, id = idStr, pid = pidStr, children = chindrenStr, i = 0, j = 0, len = a.length;    
	        	    for(; i < len; i++){  
	        	    	if(a[i].id==onselect){
	        	    		a[i].state={checked: true};
	        	    		$("#depName").val(a[i].text);
	        	    	}
	        	        hash[a[i][id]] = a[i];    
	        	    }    
	        	    for(; j < len; j++){    
	        	        var aVal = a[j], hashVP = hash[aVal[pid]];    
	        	        if(hashVP){    
	        	            !hashVP[children] && (hashVP[children] = []);    
	        	            hashVP[children].push(aVal);    
	        	        }else{    
	        	            r.push(aVal);    
	        	        }    
	        	    }    
	        	    return r;    
	        	}    
        		document.querySelector('#depName').addEventListener('click', function(e){
				 e.stopPropagation();
				    document.querySelector('#treeview').classList.add('show');
				}, false);
				document.querySelector('#treeview').addEventListener('click', function(e){
				    e.stopPropagation();
				}, false);
				
				document.addEventListener('click', function(){
				    document.querySelector('#treeview').classList.remove('show');
				}, false);
				$(".fa-arrow-circle-o-left").click(function(){
					location.href="/sysModule/moduleList";
				})
				function dosubmit() {
	        		$('#systemModuleForm').data('bootstrapValidator').validate();
	        		if($("#name").val()== ''){
	        			alertPopup("名称不能为空!");
	        			return;
	        		}
	        		if($("#rank").val()== ''){
	        			alertPopup("序号不能为空!");
	        			return;
	        		}
	        		$('#enable').val($('#enabledCheck').is(':checked')?1:0);
					if($("#systemModuleForm").data("bootstrapValidator").isValid()){
		        		 $.ajax({
		                    type   : "post",
		                    data   : $('#systemModuleForm').serialize(),
		                    url    : [[@{/sysModule/save}]],
		                    success: function (resp) {
		                        alertPopup(resp.msg);
		                        location.href='/sysModule/to-Preview?moduleId='+resp.moduleId;
		                    }
		                }); 
					}
	        	}
        	 /*]]>*/
        </script>
</html>
