<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8"/>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" id="theme" th:href="@{/v2/css/theme-default.css}"/>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.css"/>
</head>
<body>
<form role="form" id="formpro" class="form-horizontal" >

	<div class="block" style="margin-bottom:0;">
		<div class="form-group col-md-12 btn-form" style="text-align:left;">
			<!--<a href="#"  class="btn btn-info loadExcel">导出excel</a>-->
		</div>
		<div class="block" style="margin-bottom:0;">
			<div class="form-group col-md-4">
				<label class="col-md-4 control-label">注册日期:</label>
				<div class="col-md-8">
					<input
						name="registerTime" style="width: 45%; float: left; padding: 6px 9px;"
						id="registerTime" th:value="${registerTime}" type="text" class="required"
						onfocus="WdatePicker({isShowClear:true,readOnly:false,dateFmt:'yyyy-MM-dd'})"
						title="请输入截止日期" size="30" />
				</div>
			</div>
			<div class="form-group col-md-4">
				<label class="col-md-4 control-label">渠道:</label>
				<div class="col-md-8">
					<select class="form-control" id="channelId" name="channelId">
						<option th:value="-1" th:text="全部" th:selected="${channelId} == -1" selected="selected"/>
						<!--<option th:value="0" th:text="自然流量" th:selected="${channelId} == 0" />selected="${channelId} == 0" selected="selected"/>-->
						<option th:each="item, itemStat: ${channelList}"
								th:selected="${item.id} == ${channelId}"	th:value="${item.id}" th:text="${item.channelName}" />
					</select>
				</div>
			</div>
			<div class="form-group col-md-12 btn-form" style="text-align:right;">
				<button type="submit" class="btn btn-info">查询</button>
			</div>
		</div>
	</div>
</form>
<div class="panel-body">
	<table class="table" id="bigDataList">
		<thead>
		<tr>
			<th>序号</th>
			<th>渠道</th>
			<th>注册日期</th>
			<th>注册人数</th>
			<th>实名认证</th>
			<th>手机通讯录</th>
			<th>运营商认证</th>
			<th>绑定银行卡</th>
			<th>芝麻认证</th>
			<th>设置支付密码</th>
		</tr>
		</thead>
		<tbody>
		
		<tr th:each="page,iterStat:${pageInfo.list}">
               <td th:text="${iterStat.index+1	}" ></td>
			   <td th:text="${curChannelName}"></td>
               <td th:text="${page.createTime}"></td>
               <td th:text="${page.registerCount}"></td>
               <td th:text="${page.nameCount}"></td>
               <td th:text="${page.contactsCount}"></td>
               <td th:text="${page.operatorCount}"></td>
               <td th:text="${page.cardCount}"></td>
               <td th:text="${page.zhimaCount}"></td>
               <td th:text="${page.passwordCount}"></td>
         </tr> 
		
		</tbody>
	</table>
	 <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
                              <tr>
                                  <td height="33">
                                      <table width="100%" border="0" align="center" cellpadding="0"
                                             cellspacing="0" class="right-font08">
                                          <tr>
                                          	<td align="left" class="td2" th:if="${not #lists.isEmpty(pageInfo)}"
                                                  th:text="   ${'共'+pageInfo.total+ '条'}">
                                              </td>
                                              <td align="right" class="td2" id="pageFooter">
                                              </td>
                                          </tr>
                                      </table>
                                  </td>
                              </tr>
       </table>
</div>
</body>
<script type="text/javascript" th:src='@{/v2/js/jquery.min.js}'></script>
<script type="text/javascript" th:src='@{/v2/js/jquery-ui.min.js}'></script>
<script type="text/javascript" th:src='@{/v2/js/bootstrap.min.js}'></script>
<script type='text/javascript' th:src='@{/v2/js/icheck.min.js}'></script>
<script type="text/javascript" th:src="@{/v2/js/jquery.mCustomScrollbar.min.js}"></script>
<script type="text/javascript" th:src="@{/v2/js/bootstrap-select.js}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.js"></script>
<script type="text/javascript" th:src="@{/v2/js/settings.js}"></script>
<script type="text/javascript" th:src="@{/v2/js/plugins.js}"></script>
<script type="text/javascript" th:src="@{/v2/js/actions.js}"></script>
<script type="text/javascript" th:src="@{/v2/js/bootstrap-treeview.min.js}"></script>
<script type="text/javascript" th:src="@{/v2/js/common.js}"></script>
<script th:src="@{/js/page/create-page.js}" type="text/javascript"></script>
<script th:src="@{/v2/js/dataTables.treeGrid.js}"></script>
<script th:src="@{/js/My97DatePicker/WdatePicker.js}"	type="text/javascript"></script>
<script th:inline="javascript">
        /*<![CDATA[*/
        	$(function(){
        		$("#pageFooter").html(createPager([[${pageInfo}]], "formpro"));  
        	});
        	 /*]]>*/
        </script>
</html>
