<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" id="theme" th:href="@{/v2/css/theme-default.css}"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.css"/>
</head>
<body>
<form role="form" id="formpro" class="form-horizontal">

    <div class="block no-col-padding" style="margin-bottom:0;">
        <div class="block" style="margin-bottom:0;">
            <div class="form-group col-md-4">
                <label class="col-md-4 control-label">姓名:</label>
                <div class="col-md-8">
                    <input type="text" id="userName" name="userName" th:value="${userName}"/>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label class="col-md-4 control-label">邀请人手机号:</label>
                <div class="col-md-8">
                    <input type="text" id="userPhone" name="userPhone" th:value="${userPhone}"/>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label class="col-md-4 control-label">邀请人邀请码:</label>
                <div class="col-md-8">
                    <input type="text" id="shareCode" name="shareCode" th:value="${shareCode}"/>
                </div>
            </div>

            <div class="form-group col-md-4">
                <label class="col-md-4 control-label">注册日期</label>
                <div class="col-md-8">
                    <input name="registryTimeStart" id="registryTimeStart" autocomplete="off" readonly="readonly"
                           th:value="${registryTimeStart}" type="text"
                           class="required" style="width:43%; float:left; padding: 6px 6px; text-align:center;"
                           onfocus="WdatePicker({isShowClear:true,readOnly:false,dateFmt:'yyyy-MM-dd',maxDate:'#F{$dp.$D(\'registryTimeEnd\')||\'%y-%M-%d\'}'})" title="" size="30"/>
                    <span class="line">-</span>
                    <input name="registryTimeEnd" id="registryTimeEnd" th:value="${registryTimeEnd}"  autocomplete="off" readonly="readonly"
                           type="text"
                           class="required" style="width:43%; float:left; padding: 6px 6px; text-align:center;"
                           onfocus="WdatePicker({isShowClear:true,readOnly:false,dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'registryTimeStart\')||\'%y-%M-%d\'}'})" title="请输入注册开始日期" size="30"/>
                </div>
            </div>
            <div class="form-group col-md-12 btn-form" style="text-align:right;">
                <button type="submit" class="btn btn-info">查询</button>
            </div>
        </div>
    </div>
</form>
<div class="panel-body">
    <table class="table" id="bigDataList">
        <thead>
        <tr>
            <th>序号</th>
            <th>邀请人姓名</th>
            <th>邀请人手机号</th>
            <th>邀请人邀请码</th>
            <th>注册时间</th>
            <th>累计奖励</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="page,iterStat:${pageInfo.list}">
            <td th:text="${iterStat.index+1	}"></td>
            <td th:text="${#strings.isEmpty(page.userName) ? '未实名认证' : page.userName}"></td>
            <td th:text="${page.userPhone}"></td>
            <td th:text="${page.shareCode}"></td>
            <td th:text="${page.registryTime == null ? '' : #dates.format(page.registryTime,'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${page.sumBalance}"></td>
            <td>
                <a th:href="'/share/sufferInvitationList?userId='+${page.userId}">查看邀请好友信息</a>&nbsp;&nbsp;
            </td>
        </tr>
        </tbody>
    </table>
    <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td height="33">
                <table width="100%" border="0" align="center" cellpadding="0"
                       cellspacing="0" class="right-font08">
                    <tr>
                        <td align="left" class="td2" th:if="${not #lists.isEmpty(pageInfo)}"
                            th:text="   ${'共'+pageInfo.total+ '条'}">
                        </td>
                        <td align="right" class="td2" id="pageFooter">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>
<script type="text/javascript" th:src='@{/v2/js/jquery.min.js}'></script>
<script type="text/javascript" th:src='@{/v2/js/jquery-ui.min.js}'></script>
<script type="text/javascript" th:src='@{/v2/js/bootstrap.min.js}'></script>
<script type='text/javascript' th:src='@{/v2/js/icheck.min.js}'></script>
<script type="text/javascript" th:src="@{/v2/js/jquery.mCustomScrollbar.min.js}"></script>
<script type="text/javascript" th:src="@{/v2/js/bootstrap-select.js}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.js"></script>
<script type="text/javascript" th:src="@{/v2/js/settings.js}"></script>
<script type="text/javascript" th:src="@{/v2/js/plugins.js}"></script>
<script type="text/javascript" th:src="@{/v2/js/actions.js}"></script>
<script type="text/javascript" th:src="@{/v2/js/bootstrap-treeview.min.js}"></script>
<script type="text/javascript" th:src="@{/v2/js/common.js}"></script>
<script th:src="@{/js/page/create-page.js}" type="text/javascript"></script>
<script th:src="@{/v2/js/dataTables.treeGrid.js}"></script>
<script th:src="@{/js/My97DatePicker/WdatePicker.js}" type="text/javascript"></script>
<script th:inline="javascript">
    $(function () {
        $("#pageFooter").html(createPager([[${pageInfo}]], "formpro"));
    });

    // function setIsStatus(status,id) {
    //     $.ajax({
    //         type   : "post",
    //         data   : {"spreadId":id,"spreadStatus":status},
    //         url    : [[@{/spread/save}]],
    //         success: function(resp) {
    //             hidden();
    //             alertPopup(resp.msg,function(){
    //                 location.href='/spread/pageList';
    //             });
    //         }
    //     }
    // }
</script>
</html>
